{% extends "base.html" %}
{% load static %}

    {% block active%}
    <li> <a href="{% url 'index'%}">Home</a> </li>
    <li> <a href="{% url 'about'%}">About</a> </li>
    <li> <a href="{% url 'author'%}"> Authors</a> </li>
    <li class="active"><a href="{% url 'album'%}"> Albums</a> </li>
    <li> <a href="{% url 'genre'%}">Genres</a> </li>
    <li> <a href="{% url 'contact'%}">Contact</a> </li>
    {% endblock %}

    {% block body %}
    <div class="blogbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blogtitlepage">
                        <h2>{{album.name}}</h2>
                    </div>
                    {% if album %}
                        {% if song_list %}
                            {% for c in song_list %}
                                <h3><a href = "{% url 'song_details' c.id%}">{{c.name}}</a></h3>
                            {% endfor%}
                        {% else %} 
                            <h1>THERE ARE NO SONGS IN THIS ALBUM</h1>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    

    {% endblock%}