{% extends "base.html" %}
{% load static %}
{% load i18n %}

    {% block active%}
    <li> <a href="{% url 'index'%}">{% trans 'Home' %}</a> </li>
    <li> <a href="{% url 'author'%}">{% trans 'Authors' %}</a> </li>
    <li class="active"><a href="{% url 'album'%}">{% trans 'Albums' %}</a> </li>
    <li> <a href="{% url 'genre'%}">{% trans 'Genres' %}</a> </li>
    <li> <a href="{% url 'contact'%}">{% trans 'Contact' %}</a> </li>
    {% endblock %}

    {% block body %}
    <div class="blogbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blogtitlepage">
                        <h2>{{album.name}}</h2>
                    </div>
                    {% if album %}
                        {% if song_list %}
                            {% for c in song_list %}
                                <h3><a href = "{% url 'song_details' c.id%}">{{c.name}}</a></h3>
                            {% endfor%}
                        {% else %} 
                            <h1>{% trans 'THERE ARE NO SONGS IN THIS ALBUM' %}</h1>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    

    {% endblock%}