{% extends "base.html" %}
{% load static %}

    {% block active%}
    <li> <a href="{% url 'index'%}">Home</a> </li>
    <li> <a href="{% url 'about'%}">About</a> </li>
    <li> <a href="{% url 'author'%}"> Authors</a> </li>
    <li class="active"><a href="{% url 'album'%}"> Albums</a> </li>
    <li> <a href="{% url 'genre'%}">Genres</a> </li>
    <li> <a href="{% url 'contact'%}">Contact</a> </li>
    {% endblock %}

    {% block body %}
    <div class="Albumsbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Albumstitlepage">
                        <h2>Albums</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Albums -->
    <div class="Albums">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">

                        
                    </div>
                </div>
            </div>
            <div class="row">
                {% if album_list %}
                    {% for c in album_list %}
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margin">
                    <div class="Albums-box">
                        <figure>
                            <a href="{% url 'album_details' c.id%}" class="fancybox" rel="ligthbox">
                                <img src="{%static 'images/album1.jpg' %}" class="zoom img-fluid " alt="">
                            </a>
                            <span class="hoverle">
                        <a href="{% url 'album_details' c.id%}" class="fancybox" rel="ligthbox"><h2>{{c.name}}</h2></a>
                        </span>
                        </figure>
                    </div>
                </div>
                    {% endfor%}
                {% else %} 
                    <h1>THERE ARE NO ALBUMS</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end Albums -->
    {% endblock %}