{% extends "base.html" %}
{% load static %}
{% load i18n %}

    {% block active%}
    <li> <a href="{% url 'index'%}">{% trans 'Home' %}</a> </li>
    <li class="active"> <a href="{% url 'author'%}">{% trans 'Authors' %}</a> </li>
    <li> <a href="{% url 'album'%}">{% trans 'Albums' %}</a> </li>
    <li> <a href="{% url 'genre'%}">{% trans 'Genres' %}</a> </li>
    <li> <a href="{% url 'contact'%}">{% trans 'Contact' %}</a> </li>
    {% endblock %}

    {% block body %}
    <div class="blogbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blogtitlepage">
                        <h2>{% trans 'Songs of' %} {{author.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Lastestnews blog">
        <div class="container">
            <div class="row">
                {% if author %}
                    {% if song_list %}
                        {% for c in song_list %}
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">
                                <div class="news-box2">
                                    <h3><a href = "{% url 'song_details' c.id%}">{{c.name}}</a></h3>          
                                </div>
                            </div>
                        {% endfor%}    
                {% else %} 
                        <h1>{% trans 'THERE ARE NO SONGS OF THIS AUTHOR' %}</h1>
                    {% endif %}
                {% endif %}            
            </div>
        </div>
    </div>
    {% endblock%}