{% extends "base.html" %}
{% load static %}
{% load i18n %}

    {% block active%}
    <li> <a href="{% url 'index'%}">{% trans 'Home' %}</a> </li>
    <li> <a href="{% url 'about'%}">{% trans 'About' %}</a> </li>
    <li> <a href="{% url 'author'%}">{% trans 'Authors' %}</a> </li>
    <li> <a href="{% url 'album'%}">{% trans 'Albums' %}</a> </li>
    <li class="active"> <a href="{% url 'genre'%}">{% trans 'Genres' %}</a> </li>
    <li> <a href="{% url 'contact'%}">{% trans 'Contact' %}</a> </li>
    {% endblock %}

    {% block body %}
    <div class="blogbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blogtitlepage">
                        <h2>{% trans 'Genres' %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="Lastestnews blog">
        <div class="container">
            <div class="row">
                {% if genre_list %}
                    {% for c in genre_list %}
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">
                            <div class="news-box">
                                <figure><img src="/{{ c.image.name }}" alt="{{ c.image.name }}"/></figure>
                                <h3><a href = "{% url 'genre_details' c.id%}">{{c.name}}</a></h3>
                                <p>{{c.description}}</p>                           
                            </div>
                        </div>
                    {% endfor%}
                {% else %} 
                    <h1>{% trans 'THERE ARE NO GENRES' %}</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock%}
    