{% extends "base.html" %}
{% load static %}

    {% block active%}
    <li> <a href="{% url 'index'%}">Home</a> </li>
    <li> <a href="{% url 'about'%}">About</a> </li>
    <li> <a href="{% url 'author'%}"> Authors</a> </li>
    <li> <a href="{% url 'album'%}"> Albums</a> </li>
    <li class="active"> <a href="{% url 'genre'%}">Genres</a> </li>
    <li> <a href="{% url 'contact'%}">Contact</a> </li>
    {% endblock %}

    {% block body %}            
                <div class="blogbg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blogtitlepage">
                                    <h2>Lista de canciones de {{genre.name}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Lastestnews blog">
                    <div class="container">
                        <div class="row">
                            {% if genre %}
                                {% if song_list %}
                                    {% for c in song_list %}
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">
                                            <div class="news-box2">
                                                <h3><a href = "{% url 'song_details' c.id%}">{{c.name}}</a></h3>
                                                <p>{% for author in c.author.all %} {{author.name}} {% endfor %}</p>
                                                <figure><img src="/{{ c.album.image.name }}" alt="{{ c.album.image.name }}"/></figure>
                                            </div>
                                        </div>
                                    {% endfor%}
                                {% else %} 
                                    <h1>THERE ARE NO SONGS OF THIS GENRE</h1>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
    {% endblock%}