{% extends "base.html" %}
{% load static %}

    {% block active%}
    <li class="active"> <a href="{% url 'index' %}">Home</a> </li>
    <li> <a href="{% url 'about' %}">About</a> </li>
    <li> <a href="{% url 'author'%}"> Authors</a> </li>
    <li><a href="{% url 'album' %}"> Albums</a> </li>
    <li> <a href="{% url 'genre'%}">Genres</a> </li>
    <li> <a href="{% url 'contact' %}">Contact</a> </li>
    {% endblock %}

    {% block body %}

    
        <div class="music-box">
        <div class="container">
            <div class="row">
                {% if genre_list %}
                    {% for item in topHitsByGenre %}
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="for-box">
                                <i><img src="{% static 'icon/icon1.png' %}" alt="icon"/></i>
                                <h3>{{ item.genre }}</h3>
                                {% for song in item.songs %}
                                    <p>{{ song.name }}</p>
                                {% endfor%}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end music-box  -->

     <!--TEST 2
        <div class="music-box">
        <div class="container">
            <div class="row">
                {% if genre_list %}
                    {% for g in genre_list %}
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="for-box">
                                <i><img src="{% static 'icon/icon1.png' %}" alt="icon"/></i>
                                <h3>{{ g.name }}</h3>
                                <p>Canciones más populares</p>
                                <p>Hola</p>
                            </wwdiv>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 padding">
                <div class="img-box">
                    <figure><img src="{% static 'images/musicbg.jpg' %}" alt="img" /></figure>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 padding">
                <div class="text-box">
                    <div class="box">
                        <i><img src="{% static 'images/5.png' %}" /></i>
                        <h3>MEET OUR Music STARS</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable
                            <br> content of a page when looking at its layout. The point of using Lorem </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Download -->
    <div id="screenshot" class="Lastestnews">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Latest News</h2>
                        <span>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout. The point of using Lorem </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="news-box">
                        <figure><img src="{% static 'images/1.jpg' %}" alt="img" /></figure>
                        <h3>Live With Music</h3>
                        <span> March 20</span><span>Comment</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="news-box">
                        <figure><img src="{% static 'images/2.jpg' %}" alt="img" /></figure>
                        <h3>Best Music</h3>
                        <span> March 20</span><span>Comment</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="news-box">
                        <figure><img src="{% static 'images/3.jpg' %}" alt="img" /></figure>
                        <h3>Live With Music</h3>
                        <span> March 20</span><span>Comment</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Download -->

    <!-- Albums -->
    <div id="screenshot" class="Albums">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Albums-box </h2>
                        <span>It is a long established fact that a reader will be distracted by the readable <br>content of a page when looking at its layout. The point of using Lorem </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margin">
                    <div class="Albums-box">
                        <figure>
                            <a href="{% static 'images/album1.jpg' %}" class="fancybox" rel="ligthbox">
                                <img src="{% static 'images/album1.jpg' %}" class="zoom img-fluid " alt="">
                            </a>
                            <span class="hoverle">
                        <a href="{% static 'images/album1.jpg' %}" class="fancybox" rel="ligthbox"><img src="{% static 'images/search.png' %}" ></a>
                        </span>
                        </figure>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margin">
                    <div class="Albums-box">
                        <figure>
                            <a href="{% static 'images/album2.jpg' %}" class="fancybox" rel="ligthbox ">
                                <img src="{% static 'images/album2.jpg' %}" class="zoom img-fluid " alt="">
                            </a>
                            <span class="hoverle">
                        <a href="{% static 'images/album2.jpg' %}" class="fancybox" rel="ligthbox"><img src="{% static 'images/search.png' %}" ></a>
                        </span>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end Albums -->

    <!-- Newsletter -->
    <div class="Newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Newsletter</h2>
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 padding-right">
                            <input class="email" placeholder="Enter Your Email" type="text" name="Enter Your Email">
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 padding-left">
                            <button class="submit-btn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- end Newsletter -->
    {% endblock %}    
   

