{% extends "base.html" %}
{% load static %}
{% load i18n %}

    {% block active%}
    <li> <a href="{% url 'index'%}">{% trans 'Home' %}</a> </li>
    <li> <a href="{% url 'about'%}">{% trans 'About' %}</a> </li>
    <li> <a href="{% url 'author'%}">{% trans 'Authors' %}</a> </li>
    <li> <a href="{% url 'album'%}">{% trans 'Albums' %}</a> </li>
    <li> <a href="{% url 'genre'%}">{% trans 'Genres' %}</a> </li>
    <li> <a href="{% url 'contact'%}">{% trans 'Contact' %}</a> </li>
    {% endblock %}

    {% block body %}
    <div class="blogbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blogtitlepage">
                        <h2>{{song.name}}</h2>
                    </div>
                    {% if song %}
                        <p>
                            <h2>{% trans 'Author: {% for author in song.author.all %} {{author.name}} {% endfor %}' %}</h2>
                            <h2>{% trans 'Genre: {{song.genre }}' %}</h2>
                            <h2>{% trans 'Repros: {{song.repros}}' %}</h2>
                            <h2>{% trans 'Album: {{song.album}}' %}</h2>
                            <img src="/{{ song.album.image.name }}" alt="{{ song.album.image.name }}"/>
                        </p>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>

    

    {% endblock%}